body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-image: url("img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.glassmorphism {
    box-shadow: -5px -5px 5px #fff2, 5px 5px 5px #0002;
    background: #fff5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* searach bar */
.search-bar {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 5vh;
    border-radius: 2.5vh;
    padding-left: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar:focus-within {
    outline: 1px solid white;
    outline-offset: 3px;
}

.search-bar input {
    background: transparent;
    color: #111;
    font-size: 1.6vh;
    font-family: Verdana, sans-serif;
    border: 0;
    outline: none;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.search-bar input::placeholder {
    color: #272727;
}

.search-bar input:focus-visible {
    outline: 0;
}

.search-bar .search-button {
    display: block;
    height: 100%;
    border: 0;
    background-color: transparent;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url("img/search_icon.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s;
    transition: box-shadow .3s;
}

.search-bar .search-button:hover {
    background-color: #fff3;
    box-shadow: 0 0 10px #0001;
}

/* NAV */
.apps {
    position: absolute;
    top: 38vh;
    left: 50%;
    transform: translateX(-50%);
}
.apps nav {
    position: relative;
    display: flex;
    height: 8vh;
    border-radius: 15px;
    padding: 10px;
}

.apps .link {
    display: inline-block;
    aspect-ratio: 1;
    height: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: background-color .3s;
    margin-left: 10px;
}

.apps .link:nth-child(1) {
    margin-left: 0;
}

.apps .link:hover {
    background-color: #fff3;
}

.apps .separator {
    display: block;
    width: 1px;
    height: 73%;
    background: #777;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

/* Dropdown */
.dropdown {
    max-height: initial;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 2vh);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: max-height ease .2s;
}

.dropdown .container {
    padding: 20px 0;
}

.dropdown .option {
    display: block;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}

.dropdown .option:hover {
    background-color: #fff3;
}