:root {
    --theme-background1: #fff5;
    --theme-color1: #000;
    --theme-color2: #252525;
    /* dark
    --theme-background1: #111c;
    --theme-color1: #fff;
    --theme-color2: #ddd;
    */
}

body {
    height: 100vh;
    margin: 0;
    font-family: Calibri, sans-serif;
    font-size: 1.3rem;
    background-image: url("img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glassmorphism {
    box-shadow: -5px -5px 5px #fff2, 5px 5px 5px #0002;
    background-color: #fff1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}







/* windows */
.windows {
    --theme-background1: #fff9;
    --theme-background2: #fffb;
    --theme-background3: rgba(0, 0, 0, 0.08);
    --theme-background4: #fffa;
    --theme-gradient1: rgb(65, 65, 65);
    --theme-gradient2: rgba(0, 0, 0, 0.05);
    --theme-shadow1: 0 0 10px #0001;
    --theme-shadow2: 0 0 10px rgba(0, 0, 0, 0.02);
    --theme-shadow3: 0 0 10px rgba(0, 0, 0, 0.1);
    --theme-color1: black;
    --theme-icon1: url('img/close.svg');

    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fff0;
    color: var(--theme-color1);
    transition: background-color .5s ease;
}

.windows-dark {
    --theme-background1: rgba(31, 31, 31, 0.97);
    --theme-background2: #1116;
    --theme-background3: rgba(196, 196, 196, 0.08);
    --theme-background4: #2223;
    --theme-gradient1: rgb(159, 159, 159);
    --theme-gradient2: rgba(196, 196, 196, 0.05);
    --theme-shadow1: 0 0 20px rgba(39, 39, 39, 0.4);
    --theme-shadow2: 0 0 10px rgba(95, 95, 95, 0.2);
    --theme-shadow3: 0 0 10px rgba(122, 122, 122, 0.5);
    --theme-color1: white;
    --theme-icon1: url('img/close_light.svg');
}

.windows-active {
    background-color: var(--theme-background1);
    z-index: 1!important;
}

.window {
    height: 75%;
    max-width: calc(100vw - 40px);
    aspect-ratio: 4/3;
    box-sizing: border-box;
    background: var(--theme-background2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: var(--theme-shadow1);
    border-radius: 20px;
    padding: 35px 20px;
    transform: scale(0);
    transition: transform .5s ease;
}

.window .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: var(--theme-icon1);
}

.window .close:hover {
    background-color: var(--theme-background3);
}

.settings {
    display: flex;
}

.settings .sections {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.settings .section {
    --radius: 5px;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: var(--radius);
    padding: 0 calc(var(--radius) * 3);
    margin: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.settings .section:hover {
    background: var(--theme-background3);
}

.settings .section.active {
    background: linear-gradient(to right, var(--theme-gradient1) var(--radius), var(--theme-gradient2) var(--radius));
}

.settings .section-content {
    width: 100%;
}

.settings .title {
    font-weight: bold;
    font-size: 2.5em;
}




.settings .content {
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9em;
}

.settings .content ul {
    list-style: none;

    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;

    padding: 10px;
    margin: 0;

    background: var(--theme-background4);
    box-shadow: var(--theme-shadow2);
}

.settings .content ul .title {
    font-size: 1.1em;
}

.settings .content ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.switch-input {
    display: none;
}

.slider {
    display: block;
    width: var(--width);
    height: var(--height);
    
    border-radius: var(--border-radius);
    box-shadow: var(--theme-shadow3);

    position: relative;
    background-color: #ddd;
    transition: background-color .2s;
}

.switch-input:checked + .slider {
    background-color: #4e9eff;
}

.slider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    border-radius: var(--border-radius);
    transition: transform .2s;
}

.switch-input:checked + .slider::after {
    transform: translateX(calc(var(--height)));
}

/* toolbar */
.toolbar {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: calc(3vh + 20px);

    position: absolute;
    display: flex;
}

.tool {
    height: 2em;
    aspect-ratio: 1;
    border-radius: 5px;

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-color .3s;
}

.tool:hover {
    background-color: #fff5;
}

/* searach bar */
.search-bar {
    --theme-background1: #fff5;
    --theme-background2: #fff3;
    --theme-shadow1: 0 0 10px #0001;
    --theme-color1: black;
    --theme-color2: #252525;
    --theme-icon1: url("img/search_icon.svg");

    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);

    width: 35vw;
    height: 6vh;

    border-radius: 3vh;
    padding-left: 3vh;

    background: var(--theme-background1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-dark {
    --theme-background1: #111c;
    --theme-background2: #0004;
    --theme-shadow1: 0 0 10px #0004;
    --theme-color1: #fff;
    --theme-color2: #ccc;
    --theme-icon1: url("img/search_icon_light.svg");
}

.search-bar:focus-within {
    outline: 1px solid white;
    outline-offset: 3px;
}

.search-bar input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    border: 0;
    outline: none;

    background: transparent;

    color: var(--theme-color1);
    font-size: 2vh;
    font-family: Verdana, sans-serif;
}

.search-bar input::placeholder {
    color: var(--theme-color2);
}

.search-bar input:focus-visible {
    outline: 0;
}

.search-bar .search-button {
    display: block;
    height: 100%;
    aspect-ratio: 1;

    border-radius: 50%;
    border: 0;

    background-color: transparent;
    background-image: var(--theme-icon1);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-color .3s, box-shadow .3s;
}

.search-bar .search-button:hover {
    background-color: var(--theme-background1);
    box-shadow: var(--theme-shadow1);
}

/* dock */
.dock {
    --theme-background1: #fff5;
    --theme-background2: #fff5;
    --theme-background3: #777;
    --theme-color1: #000;
    --theme-shadow1: 0 0 5px #3331;
    --theme-icon1: url("img/apps_icon.svg");

    position: absolute;
    top: 38vh;
    left: 50%;
    transform: translateX(-50%);
}

.dock-dark {
    --theme-background1: #111c;
    --theme-background2: #0004;
    --theme-background3: #ddd;
    --theme-color1: #fff;
    --theme-shadow1: 0 0 5px #0005;
    --theme-icon1: url("img/apps_icon_light.svg");
}

.dock nav {
    height: 8vh;

    border-radius: 15px;
    padding: 10px;

    position: relative;
    display: flex;

    overflow: hidden;
    background: var(--theme-background1);
}

.dock .folder {
    height: 100%;
}

.dock .link {
    display: inline-block;
    
    height: 100%;
    aspect-ratio: 1;

    border-radius: 10px;
    margin-left: 10px;

    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-color, box-shadow .3s;
}

.dock .link:nth-child(1) {
    margin-left: 0;
}

.dock .link:hover {
    background-color: var(--theme-background2);
    box-shadow: var(--theme-shadow1);
}

.dock .separator {
    display: block;
    width: 1px;
    height: 73%;
    
    margin-left: 10px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    background: var(--theme-background3);
}

.dock .link.apps-button {
    background-image: var(--theme-icon1);
}

/* Dropdown */
.dropdown {
    border-radius: 10px;

    position: absolute;
    top: calc(100% + 2vh);
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden;
    background: var(--theme-background1);
    color: var(--theme-color1);

    transition: max-height ease .2s;
}

.dropdown .container {
    padding: 20px 0;
}

.dropdown .option {
    display: block;
    box-sizing: border-box;
    width: 100%;

    padding: 10px 30px;
}

.dropdown .option:hover {
    background-color: var(--theme-background2);
}
