body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-image: url("img/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glassmorphism {
    box-shadow: -5px -5px 5px #fff2, 5px 5px 5px #0002;
    background-color: #fff5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* toolbar */
.toolbar {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(3vh + 20px);
    display: flex;
    padding: 10px;
}

.toolbar .tool {
    height: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
}

/* settings */
#settings {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    max-width: 100vw;
    height: 60%;
    aspect-ratio: 4/3;
    border-radius: 30px;
    padding: 80px 40px;
    display: grid;
    grid-template-columns: 35% auto;
    background: #fffc;
    transition: all 0.3s ease;
}

#settings .groups {
    border-right: 1px solid #888;
    margin-right: 10px;
}

#settings .groups .group {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#settings .groups .group.active {
    background: #0001;
}
#settings .groups .group:hover {
    background: #6661;
}

#settings-content {
    grid-column-start: 2;
}

#setting-title {
    font-size: 2em;
    font-weight: bold;
    margin-left: 10px;
}

#settings-content .setting {
    display: block;
    padding: 20px 10px;
    border-radius: 5px;
    margin: 10px;
    background: #fffc;
    text-overflow: clip;
    overflow: hidden;
}

#settings .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #000;
}

#settings-content .setting .link {
    padding: 10px;
    line-height: 1.5em;
    display: flex;
    overflow: hidden;
}
#settings-content .setting .icon {
    display: block;
    height: 1.5em;
    aspect-ratio: 1;
    float: left;
    margin-right: 10px;
    background-size: cover;
}

#settings .toolbar {
    position: relative;
    height: initial;
    margin: 10px 0;
}

#settings .toolbar button {
    margin: 0 3px;
}

/* widgets */
.widgets {
    position: absolute;
    right: 0;
}

/* clock */
.widget {
    background-color: #fff4;
    width: 16vw;
    border-radius: 20px;
    margin: 30px 20px;
    padding: 20px;
}

.clock {
    font-family: 'Segoe UI', sans-serif;
    font-size: 4.3vw;
    font-weight: 400;
    color: #111;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: center;
    gap: 5px;
    box-shadow: #3338 0 20px 20px -20px;
}

/* calendar */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

button {
    aspect-ratio: 1;
    height: 2em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0002;
}

.arrow-left {
    background-image: url("img/arrow_left.svg");
}
.arrow-right {
    background-image: url("img/arrow_right.svg");
}

.add {
    background-image: url("img/add.svg");
}

.edit {
    background-image: url("img/edit.svg");
}

.delete {
    background-image: url("img/delete.svg");
}

.calendar .calendar-body {
    padding: 10px 15px;
}

.calendar .events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid #333;
}

.calendar .event {
    background: #fff1;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    margin-bottom: 0;
}

.calendar .event .event-name {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.calendar .event .event-time {
    font-family: Verdana, Arial, sans-serif;
    margin: 3px 0;
}

.calendar .event .event-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

/* searach bar */
.search-bar {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: 6vh;
    border-radius: 3vh;
    padding-left: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar:focus-within {
    outline: 1px solid white;
    outline-offset: 3px;
}

.search-bar input {
    background: transparent;
    color: #111;
    font-size: 2vh;
    font-family: Verdana, sans-serif;
    border: 0;
    outline: none;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.search-bar input::placeholder {
    color: #272727;
}

.search-bar input:focus-visible {
    outline: 0;
}

.search-bar .search-button {
    display: block;
    height: 100%;
    border: 0;
    background-color: transparent;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url("img/search_icon.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s;
    transition: box-shadow .3s;
}

.search-bar .search-button:hover {
    background-color: #fff3;
    box-shadow: 0 0 10px #0001;
}

/* apps bar */
.apps {
    position: absolute;
    top: 38vh;
    left: 50%;
    transform: translateX(-50%);
}
.apps nav {
    position: relative;
    display: flex;
    height: 8vh;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}

.apps .apps-container {
    height: 100%;
}

.apps .link {
    display: inline-block;
    aspect-ratio: 1;
    height: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: background-color .3s;
    margin-left: 10px;
}

.apps .link:nth-child(1) {
    margin-left: 0;
}

.apps .link:hover {
    background-color: #fff3;
}

.apps .separator {
    display: block;
    width: 1px;
    height: 73%;
    background: #777;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

/* Dropdown */
.dropdown {
    max-height: initial;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 2vh);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: max-height ease .2s;
}

.dropdown .container {
    padding: 20px 0;
}

.dropdown .option {
    display: block;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}

.dropdown .option:hover {
    background-color: #fff3;
}
